<section class="hero py-16 overflow-x-auto">
  <div class=" container mx-auto flex items-center justify-between">
    <div class="w-1/2 ml-10">
      <h5 class="text-lg"><em>We Brought Your Favourite Menu</em></h5>
      <h1 class="text-4xl font-bold py-6">Want To Know New Menu ??</h1>
      <button class=" btn rounded-full py-2 mt-4 px-6"> <a href="#menu">Check now</a> </button>
    </div>
    <div class="w-1/2 ml-20">
      <img src="/img/log.png" alt="burger">
    </div>
  </div>
</section>

<section id = "menu" class="menu container mx-auto pt-10 px-6  ">
  
  <h1 class="  text-3xl font-bold mb-16 mt-8 text-center ">Your Favourite Burgers</h1>
  <div class=" grid grid-cols-4 gap-x-8 gap-y-12" >
    
    <% burgers.forEach((burger)=>{ %>
      <div class="w-64 card  " >
        <img class="h-40 mb-3 mx-auto" src="/img/<%= burger.image %>   " alt="">
        <div class="text-center ">
          <h2 class=" title mb-3 text-lg  "> <%= burger.name %> </h2>
          <span class="py-1 px-3 rounded-full uppercase text-xs size">  <%= burger.size %> </span>
          <div class="flex items-center justify-around mt-5 mb-5">
            <span class="font-bold price">₹ <%= burger.price %> </span>
            <button  data-burger="<%= JSON.stringify(burger) %>"   class=" addCart btn  rounded-full font-bold">
              <span>+</span>
              <span>add to cart</span>
            </button>
          </div>
        </div>
      </div>
     <% }) %> 

  </div>
</section>
